.buyAction {
  font-family: var(--watches-font);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  
  background-color: #ffc62d;
  color: #000;
  border: 0;
  padding: 16px 50px;
  margin: 20px 0;

  transition: color 0.15s;

  &:hover {
    transition: color 0.3s;
    color: #fff;
  }
}