@import '../styles/variables.scss';

.productNameLarge {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 0.9em;

    text-align: center;
    padding: 2px 0;

    span:first-child {
        color: $brand-color;
    }
}